body {
    background-color: #3A4454;
}
p {
    color: #C6B38E;
}
a {
    color: white;
}
h3 {
    color: #D8DCFF;
}
.heading {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #C6B38E;
    margin: 20px;
}
.nav {
    text-align: center;
    margin: 20px;
}
.navBtn {
    background-color: #D8DCFF;
    border-radius: 8px;
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
.navBtn:hover {
    background-color: #C6B38E;
}
.homeContent {
    margin: 20px;
    text-align: center;
}
.about {
    text-align: center;
    margin: auto;
    width: 50%;
}
.resume {
    text-align: center;
    margin: 20px;
}
.projects {
    margin: auto;
    width: 50%;
}
.contact {
    text-align: center;
    margin: 20px;
}
#pdfView {
    width: 80%;
    height: 700px;
    margin: 20px;
}
#profileImg {
    height: 340px;
    border-radius: 50%;
}